@page
@model TrainingTracker.Pages.EmployeeDetails.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmployeeDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeDetails.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeDetails.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeDetails.FirstMidName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeDetails.FirstMidName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeDetails.EnrollmentStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeDetails.EnrollmentStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeDetails.EnrollmentEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeDetails.EnrollmentEndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeDetails.CourseStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeDetails.CourseStatus)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EmployeeDetails.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
